<header id="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <span href="#"
           id="logo">
          <img src="../../../assets/images/logo.png" alt="">
        </span>
        <img src="../../../assets/images/logo-pru.png"
             id="logo-pru">
      </div>
      <div class="col-md-7">
        <div id="top-nav">
          <a routerLink="/results"
             *ngIf="authService.isAuthenticated()">
            Results
          </a>
          <a routerLink="/signin"
             *ngIf="!authService.isAuthenticated()">
            Login
          </a>
          <a style="cursor: pointer;"
             (click)="onLogout()"
             *ngIf="authService.isAuthenticated()">
            Logout
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
